{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
   <title>base</title>  
</head>
<style>
  body {
    background-color: #fafafa;
  }
</style>
<body>
   <nav class="navbar is-link" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'app-home' %}">
          <h1 class="title is-5" style="color:white;"><b>🎓 Outsmart Ed</b></h1>
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <div class="field has-addons m-3">
            <div class="control">
              <input class="input" type="text" placeholder="Search Outsmart Ed..">
            </div>
            <div class="control">
              <a class="button is-primary">
                <b>🔎 Search</b>
              </a>
            </div>
          </div>
          <a class="navbar-item" href="{% url 'app-home' %}">
            <b>🏠 Home</b>
          </a>
    
          <a class="navbar-item" href="{% url 'app-about' %}">
            <b>📝 About</b>
          </a>
    
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <b>➕ More</b>
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item">
                💲 Pricing
              </a>
              <a class="navbar-item">
                💼 Jobs
              </a>
              <a class="navbar-item">
                📤 Contact
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                🔴 Report an issue
              </a>
            </div>
          </div>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
               <button class="button is-primary">
                  <b>↩️ Log in</b>
               </button>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container is-max-desktop p-10">
      <div class="columns is-centered">
        <div class="column is-two-thirds">
          <div class="container">
            {% if messages %}
            {% for message in messages %}
            <br>
            <div class="notification is-{{ message.tags }} is-light">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div class="card p-5 m-5">
   <h1 class="title"><b>🎉 Join Outsmart Ed now!</b></h1>
   <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
         {{ form|crispy }}
      </fieldset>
      <div class="field is-grouped">
         <p class="control">
            <button class="button is-primary" type="submit">
               <b>✍ Sign Up</b>
            </button>
         </p>
         </div>
   </form>
</div>
</div>


          </div>
        </div>
      </div>
    </div>
</body>
</html>

