{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
   <title>base</title>  
</head>
<style>
  body {
    background-color: #fafafa;
  }
</style>
<body>
   <nav class="navbar is-link" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'app-home' %}">
          <h1 class="title is-5" style="color:white;"><b>🎓 Outsmart Ed</b></h1>
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <div class="field has-addons m-3">
            <div class="control">
              <input class="input" type="text" placeholder="Search Outsmart Ed..">
            </div>
            <div class="control">
              <a class="button is-primary">
                <b>🔎 Search</b>
              </a>
            </div>
          </div>
          <a class="navbar-item" href="{% url 'app-home' %}">
            <b>🏠 Home</b>
          </a>
    
          <a class="navbar-item" href="{% url 'app-about' %}">
            <b>📝 About</b>
          </a>
    
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <b>➕ More</b>
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item">
                💲 Pricing
              </a>
              <a class="navbar-item">
                💼 Jobs
              </a>
              <a class="navbar-item">
                📤 Contact
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                🔴 Report an issue
              </a>
            </div>
          </div>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {% if user.is_authenticated  %}
              <a class="button is-primary" href="{% url 'profile' %}">
                <b>👱 {{ user.username }}</b>
              </a>
              <a class="button is-light is-danger" href="{% url 'logout' %}">
                <b>🚪 Log out</b>
              </a>
              {% else %}
              <a class="button is-primary" href="{% url 'register' %}">
                <strong>✍ Sign up</strong>
              </a>
              <a class="button is-light" href="{% url 'login' %}">
                ↩️ Log in
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container is-max-desktop p-10">
      <div class="columns is-centered">
        <div class="column is-two-thirds">
          <div class="container">
            {% if messages %}
            {% for message in messages %}
            <br>
            <div class="notification is-{{ message.tags }} is-light">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
</body>
</html>