{% extends "app/base.html" %}
{% block content %}
   {% for post in posts %}
   <br>
   <div class="columns is-centered">
       <div class="column is-two-thirds">
         <div class="container">
            <div class="card p-5">
               <div class="card-image">
                  <figure class="image is-4by3">
                     <img src={{ post.image }} alt="image">
                  </figure><br>
               </div>
               <h1 class="title is-3">{{ post.class }}</h1>
               <span class="tag is-danger">👨 {{ post.author }}</span>
               <span class="tag is-warning">👍 {{ post.likes }} likes</span>
               <span class="tag is-primary">💯 Top {{ post.ranking }}</span>
               <br><br>
                  <div class="content">
                     <p class="subtitle is-6"><b>What is this all about?</b></p>
                     <blockquote>{{ post.description }}</blockquote>
                  </div>
               <div class="buttons">
                  <button class="button is-info">📅 Book</button>
                  <button class="button is-success">📖 Know more</button>
                  <button class="button is-warning">💬 Message</button>
                  <button class="button is-danger">🔖 Add to favorites </button>
                </div>
            </div>
         </div>
      </div>
   </div>
   <br>
   {% endfor %}
{% endblock content %}
