{% extends "app/base.html" %}
{% block content %}
   {% for post in posts %}
   <br>
      <div class="card p-5">
         <div class="media">
            <div class="media-left">
             <figure class="image is-48x48">
               <img src="{{ post.author.profile.image.url }}" alt="img">
             </figure>
            </div>
            <div class="media-content">
               <a href="{% url 'profile' post.author.id %}"><p class="title is-4">{{ post.author }}
           </p>
              <p class="subtitle is-6">{{ post.author.email }}</p>
            </div></a>
          </div>
         <div class="card-image">
            <figure class="image is-16by9">
               <iframe class="has-ratio" width="640" height="360" src={{ post.link }} frameborder="0" allowfullscreen></iframe>
               </figure>
         </div>
         <br>
         <h1 class="title is-3">{{ post.title }}</h1>
         <span class="tag is-light">🕧 {{ post.date_posted }}</span>
         <br><br>
            <div class="content">
               <p class="subtitle is-6"><b>What is this course all about?</b></p>
               <blockquote>{{ post.description }}</blockquote>
            </div>
            {% if user.is_authenticated  %}
            <div class="buttons">
               <a class="button is-danger" href="{% url 'app-home' %}"><strong>📅 Book a session</strong></a>
               <a href="{% url 'post-detail' post.id %}" class="button is-danger is-outlined">📖 Know more</a>
            </div>
            {% else %}
            <div class="buttons">
               <a href="{% url 'login' %}" class="button is-danger"><strong>📅 Book a session</strong></a>
               <a href="{% url 'login' %}" class="button is-danger is-inverted">📖 Know more</a>
            </div>
            {% endif %}
      </div>
   <br>
   {% endfor %}
{% endblock content %}
